/**
 * Author: Anthony Palumbo
 * Date: 7-29-2017
 * Description: Main CSS file Timer-Stopwatch project.
 */

body {
    margin: 0;
    padding: 0;
    background-color: #FF3F3F;
    color: white;
    max-width: 1920px;
    max-height: 1080px;
    width: device-width;
    font-family: Consolas;
    text-align: center;
}

.switch {
    display: inline-block;
    font-size: 1em;
    height: 2em;
    width: 4em;
    background: #BDB9A9;
    border-radius: 1em;
    margin: 2em;
}

.switch input {
    position: absolute;
    opacity: 0;
}

.switch div {
    height: 2em;
    width: 2em;
    border-radius: 1em;
    background: #FFF;
    box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
    transition: all 200ms;
}

.switch input:checked + div {
    transform: translate3d(100%, 0, 0);
}

#timer {
    line-height: 50vh;
    font-size: 30vh;
}

#stopwatch {
    line-height: 40vh;
    font-size: 20vh;
}

#laps {
    list-style: none;
}
